@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loginDiv {
    background: linear-gradient(
      90deg,
      rgb(64, 90, 90) 43%,
      rgb(21, 70, 90) 100%
    );
    @apply flex justify-center items-center min-h-screen;
  }
  .login-input {
    height: 2.3rem;
    border-radius: 0.4rem;
    border: 1px solid rgb(139, 174, 174);
    padding: 0.6rem;
    @apply focus:outline-blue-400 focus:caret-slate-500;
  }
  .login-input::placeholder {
    color: rgb(183, 197, 197) ;
    font-size: 0.7rem;
  }
}
